<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjymh.robot.mapper.GroupTokenMapper">
    <select id="queryGroupById" resultType="GroupToken" parameterType="Long">
        select * from `group` where account = ${account}
    </select>

    <select id="queryGroupByToken" resultType="GroupToken" parameterType="String">
        select * from `group` where token = '${token}'
    </select>

    <insert id="addGroup" parameterType="GroupToken">
        INSERT INTO `group` (`account`, `token`, `status`, `update_time`, `create_time`) VALUES (#{account}, #{token}, #{status}, #{update_time}, #{create_time})
    </insert>

    <update id="updateGroup" parameterType="GroupToken">
        UPDATE `group` SET `token` = '${token}', `update_time` = '${update_time}' WHERE account = ${account}
    </update>

    <delete id="deleteGroup" parameterType="Long">
        DELETE FROM `group` WHERE `account`=${account}
    </delete>
</mapper>